#bg{ background-image: url(../allhtml/derek-lee-Dq9O3rPTUiU-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;}
   
    
.nav {
    padding: 20px;
    font-size: 30px;
    background-color: rgb(243, 240, 240);
    
}

.PhotoI{
    margin-top: 40px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 0 35px;
    width: 350px;
    height: auto;
  
}
.para1{ 
    border-radius: 20px;
    background-color: #f5efef;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    color:#020202;
    font-size: 21px;
    box-shadow: 0 0 100px;
    width: 80%;
    margin-left: 10%;
  }
  .contactt{ 
    font-family: 'Kanit', sans-serif;
    font-size: 35px;
    text-align: center;
    border: 20px;
  
    background-color: #f5efef;
    color: #020202;
    
    
   
  }
  .wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #1d1b1b;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }


  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #1d1b1b;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
 
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
  }
  
  .wrapper .Line:hover,
  .wrapper .Line:hover .tooltip,
  .wrapper .Line:hover .tooltip::before {
    background: #04b82b;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #fff;
  }
  .foot{
    font-family: 'Kanit', sans-serif;
    box-shadow: 0 0 20px;
    height: 35px;
    width: 100%;
    background-color: #020202;
    color: #f5efef;
    font-size: 20px;
    
  }
  .grid{
    
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}